@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

<Counter IncrementAmount="amount" ></Counter>
<input @bind="amount" />
<AntButton type="primary" @onclick="ButtonClick">Hello World!</AntButton>

<SurveyPrompt Title="How is Blazor working for you?" />
@code{
    private int amount = 5;
    private void ButtonClick(MouseEventArgs e)
    {
        Console.WriteLine(e);
        Console.WriteLine(amount);
    }
}